{% extends 'base.html' %}

{% block title %}About us{% endblock title %}

{% block body %}

<div class="page-banner bg-image" style="background-image: url(static/img/bg_image_2.jpg);">
  <div class="banner-section">
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->


<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 wow fadeInUp">
        <h1 class="text-center mb-3"> <span> Welcome to </span><br> Government Girls Degree College</h1>
        <div class="text-lg text-center">
          <p>Dear patents you are in search of suitable college, where you should send you children to pursue the
            quality Education. Indeed it Government Girls Degree College Sukkur is, one of the most reputed college of
            Sindh, having qualified teaching faculty which is providing quality education to the girl’s students of
            Sukkur city as well as surrounding areas of Sukkur in good educational environment. It is situated behind
            the Local Board Near National Bank Main Branch Sukkur.</p>
        </div>
      </div>
      <!-- <div class="col-lg-10 mt-5">
          <h1 class="text-center mb-5 wow fadeInUp">Our Doctors</h1>
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src="static/img/doctors/doctor_1.jpg" alt="">
                  <div class="meta">
                    <a href="#"><span class="mai-call"></span></a>
                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                  </div>
                </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr. Stein Albert</p>
                  <span class="text-sm text-grey">Cardiology</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src="static/img/doctors/doctor_2.jpg" alt="">
                  <div class="meta">
                    <a href="#"><span class="mai-call"></span></a>
                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                  </div>
                </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr. Alexa Melvin</p>
                  <span class="text-sm text-grey">Dental</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow zoomIn">
              <div class="card-doctor">
                <div class="header">
                  <img src="static/img/doctors/doctor_3.jpg" alt="">
                  <div class="meta">
                    <a href="#"><span class="mai-call"></span></a>
                    <a href="#"><span class="mai-logo-whatsapp"></span></a>
                  </div>
                </div>
                <div class="body">
                  <p class="text-xl mb-0">Dr. Rebecca Steffany</p>
                  <span class="text-sm text-grey">General Health</span>
                </div>
              </div>
            </div>

          </div>
        </div> -->
    </div>
  </div>
</div>
</div>


<div class="page-section " style="background-image: url(../assets/img/banner-pattern.svg);">
  <div class="container-fluid py-5 py-lg-0">
    <div class="row ">
      <div class="col-lg-8" >
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14130.500488240768!2d68.8721462!3d27.6979791!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf8cda6e35a6fdb16!2sGovernment%20Girls%20Degree%20College%20Sukkur!5e0!3m2!1sen!2s!4v1634524201691!5m2!1sen!2s" width="900" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          
        
      </div>
      <div class="col-lg-4">
        <div class="container">
          <div>
            <h2>Contact Number</h2>
            <p>071-9310387</p>
          </div>
          <div>
            <h2>Email Address</h2>
            <p>ggdc.sukkur@gmail.com</p>
          </div>
          <div>
            <h2 style="color: #060605;">Address</h2>
            <p>Local board</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> <!-- .banner-home -->







{% endblock body %}