{% extends 'base.html' %}

{% block title %}History{% endblock title %}

{% block body %}

<div class="page-banner bg-image" style="background-image: url(static/img/bg_image_3.jpg);">
  <div class="banner-section">
    <div class="container text-center  wow fadeInUp">
      <!-- <h1 class="font-weight-normal" style="color: white;">History</h1> -->
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 ">
        <h1 class="text-center mb-3">History</h1>
        <div class="text-lg">
          <p>Government Girls Degree College Sukkur is situated behind the Local Board near National Bank of Pakistan
            Main Branch Sukkur. This college was opened as an Intermediate Arts College in 1958. The fact for opening
            this college was a great demand from the parents as there was no any Girls College in Sukkur division.
            <br><hr>
            -In 1963, science section was also added.<br>
            -In 1970 the college was upgraded to degree level ie B.A and B.Sc. in 1973. <br>
            -In 1993-94 the new faculty of commerce was started. <br>
            -In 2000, by the grace of Almighty Allah and services rendered by Ex. Principal Prof. Azra Tabbassum,
            -the college achieved a unique distinction in entire Sindh by establishing faculty of B.C.S and BSIT in 2004.
            -the faculty of Home Economics was also started.<br>
            -Later on B.B.A was started in 2006. <br>
            -This College has introduced post Graduate classes under ADP 2005-06 in subjects of (1) English (2) Mathematics (3) Economics (4) Political Science (5) Information Technology.<br> <hr>
            The work of the building for Post Graduate classes has been completed. As soon as the required SNE,
            Furniture and Fixture approved as per PC-I are received, the classes will be started. The students of this
            college take positions in academics and also take part in curricular activities not only upper Sindh level
            but also Pakistan level and win prizes.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>




{% endblock body %}