{% extends 'base.html' %}

{% block title %}Intermediat{% endblock title %}

{% block body %}

<div class="page-banner bg-image" style="background-image: url(static/img/bg_image_1.jpg);">
    <div class="banner-section">
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<style>
    .nav-link-custom {
        display: block;
        padding: 0.2rem 1rem;
    }

    h4,
    h1 {
        color: #1c6547;
    }
</style>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-2 order-2 bg-light" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="nav flex-column pt-3">
                    <h4>Shortcut</h4>
                    <a href="#hscI" class="nav-link-custom">HSc-I</a>
                    <a href="#hscII" class="nav-link-custom">HSc-II</a>
                    <a href="#icomI" class="nav-link-custom">I.Com-I</a>
                    <a href="#icomII" class="nav-link-custom">I.Com-II</a>
                    <a href="#icomI" class="nav-link-custom">I.Com-I</a>
                    <a href="#hcI" class="nav-link-custom">Home Economics-I</a>
                    <a href="#hcII" class="nav-link-custom">Home Economics-II</a>
                </div>
            </div>
        </div>
        <div class="col" id="main">

            <!-- intermediat -->

            <div class="page-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 wow fadeInUp" id="hscI">
                            <!-- <h3 class="text-center mb-3">2</h3> -->
                            <div class="text-lg ">
                                <div>
                                    <table class="table table-bordered table-sm ">
                                        <thead>
                                            <tr style="background-color: #203060;">
                                                <th colspan="2" class="text-center" style="color: white;">HSC-I</th>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #062a92;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #062a92;" class="text-center">
                                                    Compulsory Subjects</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>English</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Urdu / Salees Urdu</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Islamic Study</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #062a92;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #062a92;" class="text-center">Optional
                                                    Subjects</th>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>Physics</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Chemistry</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Mathematics / Biology</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" id="hscII">
                            <!-- <h3 class="text-center mb-3">2</h3> -->
                            <div class="text-lg ">
                                <div>
                                    <table class="table table-bordered table-sm ">
                                        <thead>
                                            <tr style="background-color: #203060;">
                                                <th colspan="2" class="text-center" style="color: white;">HSC-II</th>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #062a92;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #062a92;" class="text-center">
                                                    Compulsory Subjects</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>English</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Urdu/Sindhi</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Islamic Study</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #062a92;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #062a92;" class="text-center">Optional
                                                    Subjects</th>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>Physics</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Chemistry</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Mathematics / Biology</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 text-center my-4 wow zoomIn">
                            <a href="/admission" class="btn btn-primary">Apply Online</a>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" id="icomI">
                            <!-- <h3 class="text-center mb-3">2</h3> -->
                            <div class="text-lg ">
                                <div>
                                    <table class="table table-bordered table-sm ">
                                        <thead>
                                            <tr style="background-color: #fe65e7;">
                                                <th colspan="2" class="text-center" style="color: white;">I.Com Part-I
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #da63c8;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #da63c8;" class="text-center">
                                                    Compulsory Subjects</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>English</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Islamic Ethics</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Urdu / Sindhi</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #da63c8;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #da63c8;" class="text-center">Optional
                                                    Subjects</th>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>Principles of Accounting</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Economics</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Principles of Commerce</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">4</td>
                                                <td>Business Mathematics</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" id="icomII">
                            <!-- <h3 class="text-center mb-3">2</h3> -->
                            <div class="text-lg ">
                                <div>
                                    <table class="table table-bordered table-sm ">
                                        <thead>
                                            <tr style="background-color: #fe65e7;">
                                                <th colspan="2" class="text-center" style="color: white;">I.Com Part-II
                                                </th>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #da63c8;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #da63c8;" class="text-center">
                                                    Compulsory Subjects</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>English</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Urdu / Sindhi</td>
                                            </tr>
                                            <tr class="">
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Pakistan Study</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #da63c8;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #da63c8;" class="text-center">Optional
                                                    Subjects</th>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>Accounting</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Banking & Finance</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Commercial Geography</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">4</td>
                                                <td>Statistics</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" id="hcI">
                            <!-- <h3 class="text-center mb-3">2</h3> -->
                            <div class="text-lg ">
                                <div>
                                    <table class="table table-bordered table-sm ">
                                        <thead>
                                            <tr style="background-color: #03c5dc;">
                                                <th colspan="2" class="text-center" style="color: white;">Home
                                                    Economics-I</th>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #0393a4;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #0393a4;" class="text-center">
                                                    Compulsory Subjects</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>English</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Islamic Education</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Urdu Compulsory</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #0393a4;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #0393a4;" class="text-center">Optional
                                                    Subjects</th>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>Clothing Textile</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Pakistan studies</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Islamic Education </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" id="hcII">
                            <!-- <h3 class="text-center mb-3">2</h3> -->
                            <div class="text-lg ">
                                <div>
                                    <table class="table table-bordered table-sm ">
                                        <thead>
                                            <tr style="background-color: #03c5dc;">
                                                <th colspan="2" class="text-center" style="color: white;">Home
                                                    Economics-II</th>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #0393a4;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #0393a4;" class="text-center">
                                                    Compulsory Subjects</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>English</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Urdu </td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Sindhi</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 14.66%; color: #0393a4;" class="text-center">S.NO</th>
                                                <th style="width: 85.66%; color: #0393a4;" class="text-center">Optional
                                                    Subjects</th>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">1</td>
                                                <td>Meal Management</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">2</td>
                                                <td>Family Clothing Problem</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">3</td>
                                                <td>Family Life Child Development</td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">4</td>
                                                <td>Home Management</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock body %}