{% extends 'base.html' %}

{% block title %}Mission{% endblock title %}

{% block body %}
<div class="page-banner bg-image" style="background-image: url(static/img/mission.jpg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">

            <!-- <h1 class="font-weight-normal">Principal</h1> -->


        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Mission</h1>
                <div class="text-lg text-center">
                    <p>Government Girls Degree College is committed to promote student success and lifelong learning through quality education, and believe the intellectual, personal and professional growth of its students, faculty, and staff. The goal and core mission and objective of Government Girls Degree College is to provide an academically challenging educational experience through effective teaching, research, and service enabling students to pursue truth and acquire understanding, knowledge, and skills necessary for establishing successful careers and becoming responsible citizens and leaders.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}