{% extends 'base.html' %}

{% block title %}Priciple{% endblock title %}


{% block body %}

<div class="page-banner overlay-dark bg-image" style="background-image: url(static/img/principal_banner.jpg);">
  <div class="banner-section">
    <div class="container text-center wow fadeInUp">

      <h1 class="font-weight-normal">Principal</h1>


    </div> <!-- .container -->
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 wow fadeInUp">
        <div class="text-center">
          <img src="static/img/principal.jpg" class="post-thumb" alt="...">
        </div>
        <!-- <img src="static/img/principal.jpg" class="responsive-img" alt=""> -->
        <h1 class="text-center pt-5">Prof. Shameem Akhtar Jiskani</h1>
        <div class="text-lg text-center">
          <p>This college has a great history and background for providing quality education and peaceful academic atmosphere to the students. Not only curricular but also in co-curricular activities, this college provides all the facilities to the students to create discipline and manners to make them good citizens of the country . So that they can play their vital role in the progress of their homeland . I hope that this college will continue to make its efforts to ameliorate the academic atmosphere.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock body %}