{% extends 'base.html' %}

{% block title %}Vision{% endblock title %}

{% block body %}

 <div class="page-banner bg-image" style="background-image: url(static/img/bg_image_1.jpg);">
  <div class="banner-section">
  </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 wow fadeInUp">
          <h1 class="text-center mb-3">Our Vision</h1>
          <div class="text-lg text-center">
            <p>Improving the lives though Quality Education Your Career Our Vision
          </div>
        </div>
        
      </div>
    </div>
  </div>

 


{% endblock body %}

  